name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-20.04
    
    strategy:
      matrix:
        profile: [debug_boost, debug_standalone]
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup conan
      run: pip install --user conan

    - name: Create package
      run: >
        conan create "${{github.workspace}}" \
          --profile="${{github.workspace}}/.github/profiles/${{matrix.profile}}" \
          --update \
          --build=missing
